source/first-cohort/HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

#Project files
**/pom.xml.versionsBackup

.idea/
logs/

/**/target/
backups/**

.DS_Store
/SimbaJDBCDriverforGoogleBigQuery42_1.2.2.1004/**
/test-data/
**/src/main/resources/application-dev.properties

